



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

   
   /* .main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./image/IMG_0316.JPG);
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    animation: backgroundMove 10s infinite linear;
}

@keyframes backgroundMove {
    0% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 60% 60%;
    }
} */

.main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(image/IMG_0316.JPG);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: repeating-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2) 10px,
        rgba(255, 255, 255, 0) 10px,
        rgba(255, 255, 255, 0) 20px
    );
    transform: rotate(0deg);
    animation: move 5s linear infinite;
    mix-blend-mode: overlay;
}

@keyframes move {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

   
   
   
   
   
   
   
   
   
   
   
   .main_text {
       display: flex;
       flex-direction: column;
       align-items: center;
   }
   
   .main_text__paragraf {
       border: 2px solid #FAB803;
       border-radius: 5px;
       font-size: 2.5rem;
       padding: 0.5rem;
       box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
       max-width: 90%;
       filter: brightness(1.1);
   }
   .main_text__paragraf:hover {
       background-color: #FAB803;
      
   }
   
    .main_text__paragraf > a {
       text-decoration: none;
       color: #FAB803;
       
       text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
       filter: brightness(1.1);
    }  
    .main_text__paragraf > a:hover {
       background-color: #FAB803;
       color: black;
    }
   
   .main_text__bolder {
       font-weight: bolder;
   }
   
   .main_text__header {
       font-size: 4rem;
       color: #FAB803;
       text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
       filter: brightness(1.1);
       
   }
   
   @media (max-width: 768px) {
       .main_text__paragraf {
           font-size: 2rem; 
       }
       
       .main_text__header {
           font-size: 3rem; 
       }
   }
   